In [3]:
#/Users/shlomy/Downloads/26_exactEarth_historical_data_2016-10-26.parquet

import duckdb
import numpy

# Path to your file
file_path = "/Users/shlomy/Downloads/26_exactEarth_historical_data_2016-10-26.parquet"

con = duckdb.connect()

con.execute(f"SELECT * FROM '{file_path}' LIMIT 10").fetchdf()

,base_date_time,year,month,day,hour,minute,second,lon,lat,mmsi,...,vin,length,beam,spare,speed_q,course_q,heading_q,hazard,shiptype,loaded
0,2016/10/26 00:00:00,NaN,NaN,NaN,NaN,NaN,32.0,174.783413,-41.280177,512002959,...,None,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
1,2016/10/26 00:00:00,NaN,NaN,NaN,NaN,NaN,28.0,173.698350,-38.729367,512409000,...,None,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
2,2016/10/26 00:00:00,NaN,NaN,NaN,NaN,NaN,59.0,151.261183,-33.869533,503376700,...,None,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
3,2016/10/26 00:00:00,NaN,NaN,NaN,NaN,NaN,0.0,-82.900983,-7.945333,372296000,...,None,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
4,2016/10/26 00:00:00,NaN,12.0,18.0,4.0,0.0,NaN,NaN,NaN,538006072,...,None,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
5,2016/10/26 00:00:00,NaN,NaN,NaN,NaN,NaN,17.0,-80.394483,19.455650,256553000,...,None,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
6,2016/10/26 00:00:00,NaN,NaN,NaN,NaN,NaN,24.0,-67.061380,19.518370,212185000,...,None,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
7,2016/10/26 00:00:00,NaN,NaN,NaN,NaN,NaN,4.0,36.650203,76.185108,258962000,...,None,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
8,2016/10/26 00:00:00,NaN,NaN,NaN,NaN,NaN,55.0,-23.245480,66.156747,251284110,...,None,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
9,2016/10/26 00:00:00,NaN,NaN,NaN,NaN,NaN,18.0,-130.355678,54.291937,316005609,...,None,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN